.wraper {
  position: relative;
  width: 100vw;
  height: 100vh;
  cursor: none;

  &_landing_page_layer-1,
  &_landing_page_layer-2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

    .content_landing_page {
      color: #9fa1a5;
      position: relative;
      display: flex;
      flex-direction: column;
      flex-basis: 1;
      height: 100%;
      margin: 0 auto;
      max-width: 1440px;
      width: 100%;
      z-index: 2;
      overflow: hidden;

      .content_top {
        margin-top: 12rem;
        height: 20rem;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .main_animation {
          margin-bottom: 20px;
          perspective: 50rem;
          perspective-origin: 50% 50%;
          opacity: 0;
          animation: introZoomIn 1.5s ease forwards;

          .cube {
            transform-style: preserve-3d;
            width: 8rem;
            height: 8rem;
            margin: auto;
            position: relative;
            color: gray;
            animation: loop 10s linear infinite;

            p {
              position: absolute;
              opacity: 0.8;
              display: block;
              width: 8rem;
              height: 8rem;
              font-size: 1.4rem;
              border: 1px solid gray;

              span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }

            p:nth-child(1) {
              transform: rotateY(0deg) translateZ(40px);
            }

            p:nth-child(2) {
              transform: rotateY(90deg) translateZ(40px);
            }

            p:nth-child(3) {
              transform: rotateY(180deg) translateZ(40px);
            }

            p:nth-child(4) {
              transform: rotateY(-90deg) translateZ(40px);
            }

            p:nth-child(5) {
              transform: rotateX(90deg) translateZ(40px);
            }

            p:nth-child(6) {
              transform: rotateX(-90deg) translateZ(40px);
            }
          }
        }

        h2 {
          font-size: 24px;
          letter-spacing: 4px;
          padding-top: 4rem;
          opacity: 0;
          animation: introZoomOut 2s ease forwards 2.6s;
        }
      }

      .main_title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px 0;

        span {
          font-size: 70px;
          letter-spacing: 10px;
          opacity: 0;
        }
      }

      .content_bottom {
        position: relative;
        margin-top: auto;
        margin-bottom: 80px;
        vertical-align: bottom;

        ul {
          display: flex;
          list-style: none;
          margin-top: auto;

          li {
            margin-right: 10px;
            a {
              text-decoration: none;
              color: #9fa1a5;
              font-size: 18px;
            }
          }
        }
      }

      .click_me {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: flex;
        justify-items: center;
        transform: translateX(-50%);
        border: 1px solid black;
        margin-bottom: 40px;
        border-radius: 50%;
        height: 100px;
        width: 100px;

        &:hover {
          border-color: royalblue;
        }

        p {
          font-size: 18px;
          letter-spacing: 4px;
          margin: auto;
          text-align: center;
        }
      }
    }
  }

  .cursor {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid blue;
    border-radius: 50%;
    left: 100px;
    top: 100px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.1s;
    z-index: 2;
  }

  .cursor_2 {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    left: 100px;
    top: 100px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}

.wraper {
  &_landing_page_layer-1 {
    background: url(../img/back-1.jpg) no-repeat center fixed;
    background-size: cover;
    filter: grayscale(100%);
    clip-path: circle(60px at var(--x) var(--y));
    opacity: 0.4;
    transition: 0.1s;
    transition: clip-path 0.1s;
    z-index: 1;
  }

  &_landing_page_layer-2 {
    background-color: #eeeff2;
  }
}
